* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#page {
}

@import "src/statusboard/console";
@import "src/statusboard/header";


a.action {
  font-size: 0.8rem;
  display: block;
  text-decoration: none;
  color: rgb(250, 250, 250);
  background-color: rgb(64, 64, 64);
  border-radius: 0.7rem;
  padding: 0.2rem 0.8rem;
  margin: 0 0.5rem;
}

a.action:hover {
  background-color: rgb(128, 128, 128);
}

h1 {
  font-size: 0.9rem;
  padding: 0;
  margin: 0 1rem;
  color: rgb(250, 250, 250);
}

input[type=text] {
  font-size: 0.8rem;
  padding: 0.2rem 0.6rem;
  border-radius: 0.7rem;
  border: 1px solid rgb(211, 211, 211);
  width: auto;
}


#results {
  flex-basis: 8rem;
  flex-grow: 999;

  padding: 20px;

  table#patients-table {
    thead td {
      font-weight: bold;
    }

    td {
      font-size: 13px;
      padding: 4px;
      min-width: 100px;
    }

    .filter-field {
      max-width: 100px;
    }

    .filter {
      min-width: 40px;
      width: 40px;
    }
  }

  .hide { display: none; }

  .hide-patientId { .patientId { display: none; } }
  .hide-dateAnnounced { .dateAnnounced { display: none; } }
  .hide-dateAdded { .dateAdded { display: none; } }
  .hide-age { .age { display: none; } }
  .hide-gender { .gender { display: none; } }
}

#patients-results { display: none; }
.patients-results #patients-results { display: block; }
#nhk-results { display: none; }
.nhk-results #nhk-results { display: block; }

