* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

@import "src/statusboard/header";
@import "src/statusboard/console";

#page {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}

a.action {
  font-size: 0.8rem;
  display: block;
  text-decoration: none;
  color: rgb(250, 250, 250);
  background-color: rgb(64, 64, 64);
  border-radius: 0.7rem;
  padding: 0.2rem 0.8rem;
  margin: 0 0.5rem;
}

a.action:hover {
  background-color: rgb(128, 128, 128);
}

a.action.active {
  color: red;
}


h1 {
  font-size: 0.9rem;
  padding: 0;
  margin: 0 1rem;
  color: rgb(250, 250, 250);
}

#statusboard {
  flex-grow: 1;

  display: grid;
  grid-template-columns: 
    [place] 90px
    [site-confirmed] 80px
    [site-recovered] 80px
    [nhk-confirmed] 60px 
    [gov-link-patients] 60px 
    [gov-latest] 300px 
    [gov-link-summary] 80px 
    [gov-link-list] 60px
    [gov-link-deaths] 60px 
    [gov-confirmed] 60px 
    [gov-recovered] 60px 
    [gov-deceased] 60px 
    [dash-link] 40px 
    [dash-confirmed] 60px
    [dash-latest] 80px 
    [dash-today] 60px 
    [dash-yesterday] 60px
    [row-end];
  grid-template-rows: repeat(49, 30px);
  grid-gap: 1px;

  .item {
    background: #f0f0f0;
    padding: 5px;
  }

  .group { 
    font-weight: bold;
    background-color: rgb(138, 136, 136);
    grid-row: 1; 
  }
  .group-gov-links { grid-column: gov-link-patients / gov-confirmed;  }
  .group-gov-counts { grid-column: gov-confirmed / dash-link; }
  .group-site-counts { grid-column: site-confirmed / nhk-confirmed; }
  .group-nhk-counts { grid-column: nhk-confirmed; }
  .group-dash { grid-column: dash-link / row-end; }

  .header {
    font-weight: bold;
    background-color: rgb(189, 189, 189);
    grid-row: 2;
  }

  .gov-latest {
    overflow-y: scroll;
  }

  .item a {
    color: #0c4d5e;
  }
  .item.city a {
    color: #347f92;
  }

  .place a {
    text-decoration: none;
  }
  .place a:hover {
    color: #2bcf90;
  }

  .city {
    background-color: #f9f9f9;
    color: #aaa;
    &.item a {
      color: #aaa;
    }
  }
}

#statusboard.hide-cities .city {
  display: none;
}