* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0; }

#page {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  margin-bottom: 50px; }

#sources {
  flex-grow: 0;
  min-width: 200px;
  padding: 1rem;
  background: #e6e6e6; }

#statusboard {
  flex-grow: 1;
  display: grid;
  grid-template-columns: [place] 90px [gov] 60px [govsum] 40px [govdeaths] 60px [dash] 40px [site-confirmed] 80px [site-recovered] 80px [site-recovered-2] 80px [nhk] 40px [deceased] 60px [recovered] 60px [confirmed] 60px [latest] 80px [today] 40px [yesterday] 80px;
  grid-template-rows: repeat(49, 25px);
  grid-gap: 1px; }
  #statusboard .header {
    font-weight: bold;
    grid-row: 0; }
  #statusboard .nhk {
    grid-column: nhk; }
  #statusboard .dash {
    grid-column: dash; }
  #statusboard .today {
    grid-column: today; }
  #statusboard .item {
    background: #f0f0f0;
    padding: 5px; }
  #statusboard .item a {
    color: #0c4d5e; }
  #statusboard .item.city a {
    color: #347f92; }

#patients {
  flex-grow: 1;
  display: grid;
  grid-template-columns: [patientId] 80px [dateAnnounced] 100px [age] 40px [gender] 40px [residence] 80px;
  grid-template-rows: repeat(49, 25px);
  grid-gap: 1px; }
  #patients .item, #patients .patient-item {
    background: #ffdddd;
    padding: 5px; }

#console-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  padding: 0 1rem;
  background: #202020; }
  #console-panel #toggle-console {
    display: block;
    text-decoration: none;
    color: #c8c8c8;
    padding: 1rem 1rem 1rem 0; }
  #console-panel textarea#console {
    width: 100%; }

#console-panel.collapsed {
  transform: translateY(260px); }

.action.active {
  color: red; }

#nhk-url {
  width: 100%;
  margin: 1em 0; }

