name: Fetch and Summarize Data (Master)
on: 
  push:
    branches:
      - master
  schedule:
    - cron: "*/15 * * * *"
    
jobs:
  summarize:
    name: summarize
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install dependencies
        run: npm install
        
      - name: Download and Generate JSON data
        run: node generate.js > docs/output.txt

      - name: Publish Latest Data
        run: node publish.js

      - name: Git Status
        run: git status

      - name: Commit files
        run: |
          git config --local user.email alastair@liquidx.net
          git config --local user.name "Automated Action"
          git add docs/*/*.json docs/*.txt
          git commit -m "Automated Data Update" || exit 0

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
